# for running the application
fastapi 
uvicorn

# adding actual ai agent
langgraph 
langchain-ollama
langchain

# mcp
mcp
langchain-mcp-adapters

# web search dependency(find relevant eb pages/products)
ddgs

# fetch web pages and parse/clean html
httpx 
beautifulsoup4